<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='/img/favicon.ico') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Validación de Email con Holehe</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1 class="mt-5 text-center">Consulta de Email con Holehe</h1>
        
        <form method="POST" class="mt-4">
            <div class="form-group">
                <label for="email">Introduce un correo electrónico:</label>
                <input type="text" name="email" id="email" class="form-control" placeholder="ejemplo@correo.com" required>
            </div>
            <button type="submit" class="btn btn-primary">Consultar</button>
        </form>

        <hr>

        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            <div class="mt-4">
              {% for category, message in messages %}
                <div class="alert alert-{{ category }}">{{ message }}</div>
              {% endfor %}
            </div>
          {% endif %}
        {% endwith %}

        {% if response %}
        <h2 class="mt-5">Resultado de la consulta:</h2>
        <pre>{{ response }}</pre>
        {% endif %}
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
